In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_excel('Data//Imbalance_prices_slovenia_2019.xlsx')
df_prices = pd.read_excel('Data//PV_production_sample.xlsx')

In [3]:
df.drop(index=8760, axis=0, inplace=True)

In [4]:
df.head()

,Imbalance settlement period (CET),Positive Imbalance Price [EUR/MWh],Negative Imbalance Price [EUR/MWh],Day-ahead Price [EUR/MWh]
0,01.01.2019 00:00 - 01.01.2019 01:00,1.53,51.00,51.00
1,01.01.2019 01:00 - 01.01.2019 02:00,3.00,47.46,46.27
2,01.01.2019 02:00 - 01.01.2019 03:00,3.00,40.82,39.78
3,01.01.2019 03:00 - 01.01.2019 04:00,2.05,27.87,27.87
4,01.01.2019 04:00 - 01.01.2019 05:00,-18.02,-0.36,-0.36

In [5]:
datetime = pd.date_range(start='1/1/2019', end='1/1/2020', freq='H', closed='left')

In [6]:
df['Settlement period (CET)'] = datetime

In [7]:
df['PV production'] = df_prices['Ps1']

In [8]:
df.columns

Index(['Imbalance settlement period (CET)',
       'Positive Imbalance Price [EUR/MWh]',
       'Negative Imbalance Price [EUR/MWh]', 'Day-ahead Price [EUR/MWh]',
       'Settlement period (CET)', 'PV production'],
      dtype='object')

In [9]:
df.index = df['Settlement period (CET)']

In [10]:
month = df['Settlement period (CET)'].dt.month
day = df['Settlement period (CET)'].dt.day
hour = df['Settlement period (CET)'].dt.hour
df['Month'] = month
df['Day'] = day
df['Hour'] = hour

In [11]:
df.drop(['Imbalance settlement period (CET)', 'Settlement period (CET)'], axis=1, inplace=True)

In [12]:
df

,Positive Imbalance Price [EUR/MWh],Negative Imbalance Price [EUR/MWh],Day-ahead Price [EUR/MWh],PV production,Month,Day,Hour
Settlement period (CET),,,,,,,
2019-01-01 00:00:00,1.53,51.00,51.00,0.0,1,1,0
2019-01-01 01:00:00,3.00,47.46,46.27,0.0,1,1,1
2019-01-01 02:00:00,3.00,40.82,39.78,0.0,1,1,2
2019-01-01 03:00:00,2.05,27.87,27.87,0.0,1,1,3
2019-01-01 04:00:00,-18.02,-0.36,-0.36,0.0,1,1,4
...,...,...,...,...,...,...,...
2019-12-31 19:00:00,34.63,47.73,47.73,0.0,12,31,19
2019-12-31 20:00:00,32.55,46.00,46.00,0.0,12,31,20
2019-12-31 21:00:00,30.51,42.20,42.20,0.0,12,31,21
2019-12-31 22:00:00,29.37,39.74,39.74,0.0,12,31,22
2019-12-31 23:00:00,28.35,38.88,38.88,0.0,12,31,23

In [13]:
# 3 PV production scenarios
# 3 DA price scenarios
# 1 imbalance settlement price
# Total scenarios = 3x3x1 = 9

In [14]:
dam_1 = df[(df['Month'] == 3) & (df['Day'] == 15)]['Day-ahead Price [EUR/MWh]'].values
dam_2 = df[(df['Month'] == 4) & (df['Day'] == 15)]['Day-ahead Price [EUR/MWh]'].values
dam_3 = df[(df['Month'] == 5) & (df['Day'] == 15)]['Day-ahead Price [EUR/MWh]'].values

In [15]:
dam_scen = pd.concat([pd.Series(dam_1), pd.Series(dam_2), pd.Series(dam_3)], axis=1)

In [16]:
dam_scen.rename(columns={0: "DAM1", 1: "DAM2", 2: "DAM3"}, inplace=True)

In [17]:
dam_scen.head(0)

Empty DataFrame
Columns: [DAM1, DAM2, DAM3]
Index: []

In [18]:
pv_1 = df[(df['Month'] == 3) & (df['Day'] == 15)]['PV production'].values
pv_2 = df[(df['Month'] == 4) & (df['Day'] == 15)]['PV production'].values
pv_3 = df[(df['Month'] == 5) & (df['Day'] == 15)]['PV production'].values

In [19]:
pv_scen = pd.concat([pd.Series(pv_1), pd.Series(pv_2), pd.Series(pv_3)], axis=1)

In [20]:
pv_scen.rename(columns={0: "PV1", 1: "PV2", 2: "PV3"}, inplace=True)

In [21]:
pv_scen.head(0)

Empty DataFrame
Columns: [PV1, PV2, PV3]
Index: []

In [32]:
bal1_pos = df[(df['Month'] == 3) & (df['Day'] == 15)]['Positive Imbalance Price [EUR/MWh]'].values
bal2_pos = df[(df['Month'] == 4) & (df['Day'] == 15)]['Positive Imbalance Price [EUR/MWh]'].values
bal3_pos = df[(df['Month'] == 5) & (df['Day'] == 15)]['Positive Imbalance Price [EUR/MWh]'].values
bal1_neg = df[(df['Month'] == 3) & (df['Day'] == 15)]['Negative Imbalance Price [EUR/MWh]'].values
bal2_neg = df[(df['Month'] == 4) & (df['Day'] == 15)]['Negative Imbalance Price [EUR/MWh]'].values
bal3_neg = df[(df['Month'] == 5) & (df['Day'] == 15)]['Negative Imbalance Price [EUR/MWh]'].values

In [33]:
balPos_scen = pd.concat([pd.Series(bal1_pos), pd.Series(bal2_pos), pd.Series(bal3_pos)], axis=1)
balNeg_scen = pd.concat([pd.Series(bal1_neg), pd.Series(bal2_neg), pd.Series(bal3_neg)], axis=1)

In [34]:
balPos_scen.rename(columns={0: "ImbPos1", 1: "ImbPos2", 2: "ImbPos3"}, inplace=True)
balNeg_scen.rename(columns={0: "ImbNeg1", 1: "ImbNeg2", 2: "ImbNeg3"}, inplace=True)

In [41]:
def prepare_scenarios(dam_scen, pv_scen, balPos_scen, balNeg_scen, n_dam, n_pv, n_imb):
    
    pPriceDA = np.vstack(((np.array(dam_scen['DAM1']), np.array(dam_scen['DAM2']), np.array(dam_scen['DAM3']))
                         for i in range(n_pv*n_imb))).T
    pPV = np.vstack(([np.array(pv_scen['PV1']) for j in range(n_dam)], [np.array(pv_scen['PV2']) for j in range(n_dam)],
                    [np.array(pv_scen['PV3']) for j in range(n_dam*n_imb)])).T
    pPosImb = np.vstack(([np.array(balPos_scen['ImbPos1']) for j in range(n_dam)], [np.array(balPos_scen['ImbPos2']) for j in range(n_dam)],
                    [np.array(balPos_scen['ImbPos3']) for j in range(n_dam*n_pv)])).T
    pNegImb = np.vstack(([np.array(balNeg_scen['ImbNeg1']) for j in range(n_dam)], [np.array(balNeg_scen['ImbNeg2']) for j in range(n_dam)],
                    [np.array(balNeg_scen['ImbNeg3']) for j in range(n_dam*n_pv)])).T
    return pPriceDA, pPV, pPosImb, pNegImb

In [42]:
n_dam = 3 # of DAM price scenarios
n_pv = 3  # of PV production scenarios
n_imb = 3 # of Imbalance scenarios (positive and negative)
pPriceDA, pPV, pPosImb, pNegImb = prepare_scenarios(dam_scen, pv_scen, balPos_scen, balNeg_scen, n_dam, n_pv, n_imb)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: FutureWarning: arrays to stack must be passed as a "sequence" type such as list or tuple. Support for non-sequence iterables such as generators is deprecated as of NumPy 1.16 and will raise an error in the future.
  after removing the cwd from sys.path.

In [69]:
np.savez('Data//model_data.npy', pPriceDA, pPV, pPosImb, pNegImb, n_dam, n_pv, n_imb)